/* * {
    margin: 0;

}
.color {
    color: rgb(39, 139, 182);
}

.table-wrap {
    border: 2px solid rgb(4, 38, 4);
}

.container {
    
    margin-top: 10%;
} */


/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
    /* background: 
    linear-gradient(380deg, #120047, #15008f, #291c9e, #2a3ea0, #3e388f, #28009e, #4523a8);
    background-size: 1400% 1400%;
  
    -webkit-animation: AnimationName 18s ease infinite;
    animation: AnimationName 18s ease infinite; */
    background: #eef5fe;

}

.sidebar{
  position: fixed;
  left: 5px;
  top: 0;
  height: 100%;
  width: 78px;
  border-radius: 15px;
  background: #4267cefc;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #4267cefc;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #4267cefc;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #4267cefc;
}

.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 5px;
  bottom: -8px;
  padding: 10px 14px;
  border-radius: 0 0 15px 15px;
  background: #4267cefc;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #4267cefc;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

/*main content style*/
.home-section{
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  padding: 10px 10px 0px 20px;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 18px;
}

.image-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.image-container img {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}



.stable-wrap h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #4267cefc;

}

.table-wrap {
    padding: 10px;
    border: 1px solid rgba(70, 115, 148, 0.173);
    border-radius: 5px;
    background-color: #FFF;
 }

 .table-wrap a {
  text-decoration: none;
 }

 .table-wrap .addbtn {
  height: 35px;
  border: 1px solid blue;
  padding: 5px;
  margin-bottom: 10px;
  width: fit-content;
  background: #4267cefc;
  font-weight: 700;
  border-radius: 5px;
 }

 .table-wrap .addbtn a {
  color: #eef5fe;
 }

 .table-wrap .addbtn:hover  {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  transform: scale(1.1); 
 }


 .display td i {
  color: #000000;
  font-size: 1.5rem;
 }

 .display td i:hover {
  transform: scale(1.1); 

 }

thead {
    background-color: #4267cefc;
    margin-top: 10px;
    color: white;
    text-transform: capitalize;
}

table tbody td {
  padding: 50px;
  height: 50px;
}

.display {
    margin: 20px 0px 10px 0px;
    border-radius: 5px;

}

.dataTables_filter {
    margin-bottom: 10px;
}

.dataTables_paginate {
    margin-top: 10px; /* Adjust the margin as needed */
}

/* Add style */
.form-wrap {
  border: 1px solid black;
  padding: 20px;
margin: auto;

width: 80%;
  
}

.post-form{
  width: 80%;
  margin: auto;

}

.radio-form {
  display: flex;
  align-items: center;
}

.radio-form .radio-input {
  margin-right: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], input[type="number"] {
  height: 30px;
  padding-left: 10px;
}

.form-btn button {
  width: 100%;
  height: 40px;
  font-weight: 700;
  font-size: 1rem;
  font-style: bold;
  color: #FFF;
  background-color:  #4267cefc;
  border: none;
  cursor: pointer;
}

.form-btn button:hover {
  scale: 1.03;
}

/*Background Animation*/
@-webkit-keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}
@keyframes AnimationName {
    0%{background-position:13% 0%}
    50%{background-position:88% 100%}
    100%{background-position:13% 0%}
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
@media (max-width: 870px){
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: 60px 460px 200px;
        grid-template-areas: initial;
    }
    .card1, .card2,.card3 {
        grid-area: initial !important;
    }
    .card1 {
        padding: 20px;
    }
}
